@font-face {
  font-family: "boxcutterregular";
  src: url("../assets/fonts/boxcutter-regular.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "boxcutterbold";
  src: url("../assets/fonts/boxcutter-bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

#wrapper {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  font-family: "boxcutterbold", Helvetica, Arial, sans-serif;
}

#admat {
  width: 38%;
  margin: 0 auto;
}

#admat img {
  width: 100%;
}

#tour-dates {
  width: 60%;
  margin: 0 auto;
  padding-top: 30px;
  font-family: "boxcutterbold", Helvetica, Arial, sans-serif;
  font-size: 28px;
  line-height: 32px;
  text-align: center;
}

#tour-dates a {
  color: #000000;
  text-decoration: none;
}

#tour-dates a:hover {
  text-decoration: underline;
}

#footer {
  width: 100%;
  height: 100px;
}

@media only screen and (max-width: 480px) {
  #admat {
    width: 100%;
    margin: 0 auto;
  }

  #admat img {
    width: 100%;
  }

  #tour-dates {
    width: 100%;
    font-size: 15px;
  }
}
